<div class="container">
  <div class="row">
    <div class="col-xs-12">      
      <!-- <button class="btn btn-primay" (click) ="showPassword = !showPassword" >Display Details</button> -->
      <button class="btn btn-primay" (click) ="onToggleDetails()" >Display Details</button>
      <p *ngIf = "showPassword">Secret Password = tuna</p>
      <div *ngFor = "let log of logs" 
          [ngStyle]= "{backgroundColor: log >= 5 ? 'blue' : 'transparent'}"
          [ngClass]= "{'white-text': log >= 5}" >
          {{ log  }}
      </div>
    </div>
  </div>
</div>